<%- include("partials/header") %>
<%- include("partials/navbar") %>
<div class="container">
    <h1 style="text-align: center;">Submit a model</h1>
    <div class="row">
      <form method="POST" enctype="multipart/form-data" action="/posts" style="margin: 0 auto;">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            aria-describedby="title"
            name="post[title]"
          />
          <label for="description">description</label>
          <textarea name="post[description]" class="form-control" id="description" cols="30" rows="10"></textarea>
        </div>
        <div>
          <input type="file" name="file_to_upload" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  </div>

<%- include("partials/footer") %>